body {
    background: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background:crimson;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
}

table {
    border: 2px solid black;
    border-radius: 5px;
} 

th, td {
    border: 2px solid crimson;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

mark {
    background-color:indianred;
    color:cornsilk;
    padding: 4px;
    border-radius: 7px;
}

